:root {
  --primary-color: #0084fd;
  --secondary-color: #9792e4;
  --base-color: #4c5d6b;
  --card-bg-color: #b5ddff;

  --base-size: 15px;
  --s-size: 20px;
  --m-size: 30px;
  --l-size: 50px;
  --xl-size: 70px;
  --xxl-size: 100px;
  --xxxl-size: 120px;
}

/* RESET */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/* debug */

* {
  font-size: 16px;
}
.debug,
.debug * {
  border: 1px dashed black;
}

/* UTILITIES */

.block {
  display: block;
}
.small {
  font-size: 0.8rem;
}
.w-100 {
  width: 100%;
}
.--vertical-centered {
  vertical-align: center;
}
.container {
  max-width: 1040px;
  margin: 0 auto;
  padding: 0 var(--base-size);
}
.row {
  margin: 0 calc(-1 * var(--base-size));
}
[class^="col"] {
  padding: var(--base-size);
}
.col--1-3 {
  width: calc(100% / 3);
}
.col--2-3 {
  width: calc(100% / 3 * 2);
}
.col--20 {
  width: 20%;
}
.col--40 {
  width: 40%;
}
.col--50 {
  width: 50%;
}
.col--80 {
  width: 80%;
}
.col--100 {
  width: 100%;
}
.card {
  padding: 0 var(--base-size);
}
.card--bg-white {
  background-color: #ffffff;
  padding: var(--m-size);
}
.tag--bg-white {
  text-decoration: none;
  background-color: white;
  border-radius: 20px;
  color: black;
  padding: 0.4rem 0.6rem;
}
.tag--bg-blue {
  text-decoration: none;
  background-color: var(--primary-color);
  border-radius: 20px;
  color: white;
  padding: 0.4rem 0.6rem;
}
.tag--bg-purple {
  text-decoration: none;
  background-color: var(--secondary-color);
  border-radius: 20px;
  color: white;
  padding: 0.4rem 0.6rem;
}
.btn--round-purple {
  background-color: var(--secondary-color);
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  line-height: 2.5rem;
  text-align: center;
  margin: 0 auto;
}
.--round-frame {
  width: 100%;
  aspect-ratio: 1;
  border-radius: 50%;
  /* border: 1px solid black; */
  overflow: hidden;
  line-height: 100%;
  text-align: center;
}
.--round-frame img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;

  vertical-align: center;
}

/* HEADER */

#header {
  background-color: var(--primary-color);
  color: white;

  position: sticky;
  top: 0;
  z-index: 1;
}

#header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: var(--base-size);
  padding-bottom: var(--base-size);
}
.header__nav__tagsList {
  list-style: none;
  display: flex;
  gap: var(--s-size);
}
.header__nav__tagsList li a {
  text-decoration: none;
  color: white;
}
.header__nav__tagsList li a.tag--bg-white {
  color: black;
}

/* SECTION DEMO */

#sectionDemo {
  padding: var(--l-size) 0;
}
#sectionDemo .container .row {
  display: flex;
}
#sectionDemo .card {
  height: 100%;
  border-radius: 16px;
  background-color: var(--card-bg-color);
  text-align: center;
}
#sectionDemo .card .row {
  display: flex;
  height: 100%;
}
#sectionDemo .card .col--50 {
  padding: 0 var(--base-size);
}
#sectionDemo .card__icon {
  font-size: 4rem;
  color: var(--primary-color);
  margin-top: var(--m-size);
}
#sectionDemo .card__title {
  color: var(--primary-color);
  font-size: 1.3rem;
  margin-top: var(--m-size);
}
#sectionDemo .card__desc {
  line-height: 1.3rem;
  color: var(--base-color);
  margin-top: var(--m-size);
  margin-bottom: var(--m-size);
}
#sectionDemo .card__tag {
  display: inline-block;
  /* margin-top: var(--m-size); */
  margin-bottom: var(--m-size);
  letter-spacing: 0.2rem;
}
#sectionDemo .card .col--50:nth-child(1) {
  text-align: left;
}
#sectionDemo .card .col--50:nth-child(2) {
  align-self: flex-end;
}
/* il problema non è legato alla disposizione flex della riga ma al fatto che la riga figlia di container mantiene un altezza maggiore in quanto il contenuto della card affianco si enstende ancora sotto*/
/* risolto dando il 100% della heigt alla riga nella card */

/* SECTION PLANNING */

#sectionPlanning {
  background-color: var(--secondary-color);
  padding: var(--l-size) 0;
}
#sectionPlanning .container .row {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
/* #sectionPlanning .card--bg-white {
  background-color: #ffffff;
  padding: var(--m-size);
} */
#sectionPlanning .card {
  border-radius: 32px;
}
#sectionPlanning .col--40 .card {
  color: white;
}
#sectionPlanning .col--40 .card__image {
  margin-bottom: var(--xxxl-size);
}
#sectionPlanning .col--40 .card__title {
  font-size: 1.5rem;
  margin-bottom: var(--m-size);
}
#sectionPlanning .col--40 .card__desc {
  line-height: 1.8rem;
}

#sectionPlanning .col--1-3 .card--bg-white {
  text-align: center;
}
#sectionPlanning .col--1-3 .card__image {
  margin-bottom: var(--m-size);
}
#sectionPlanning .col--1-3 .card__title {
  font-size: 1.3rem;
  margin-bottom: var(--m-size);
}
#sectionPlanning .col--1-3 .card__desc {
  margin-bottom: var(--m-size);
}

/* SECTION TESTIMONIALS */

#sectionTestimonials {
  padding: var(--l-size) 0;
}
#sectionTestimonials .container:nth-child(1) {
  text-align: center;
}
#sectionTestimonials .section__name {
  font-weight: 300;
  color: var(--base-color);
  margin-bottom: var(--m-size);
}
#sectionTestimonials .section__title {
  font-size: 2.5rem;
  font-weight: 600;
  color: var(--secondary-color);
  margin-bottom: var(--m-size);
}
#sectionTestimonials .section__desc {
  margin-bottom: var(--m-size);
}

#sectionTestimonials .container:nth-child(2) {
  display: flex;
  flex-wrap: wrap;
}
/* #sectionTestimonials .container:nth-child(2) .row {
  width: 100%;
}         non necessario dato che la width di base prende tutto lo spazio a prescindere, altrimenti con questa regola prende lo spazio di 100% meno il padding del container  */
#sectionTestimonials .card {
  border-radius: 32px;
  background-color: var(--secondary-color);
  color: white;
}
#sectionTestimonials .card .row {
  display: flex;
}
#sectionTestimonials .card .col--80 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#sectionTestimonials .card__desc {
  margin-bottom: var(--m-size);
}
#sectionTestimonials .card__testimonialName {
  font-weight: 700;
}

/* SECTION FEATURES */

#sectionFeatures {
  background-color: var(--secondary-color);
  padding: var(--l-size) 0;
}
#sectionFeatures > h2 {
  text-align: center;
}
#sectionFeatures .container .row {
  display: flex;
  flex-wrap: wrap;
}
#sectionFeatures .section__title {
  font-size: 2.5rem;
  font-weight: 600;
  color: white;
  margin-bottom: var(--m-size);
}
#sectionFeatures .card {
  color: var(--secondary-color);
  border-radius: 20px;
}
#sectionFeatures .card__number {
  margin-bottom: var(--s-size);
  font-size: 4rem;
}
#sectionFeatures .card__title {
  margin-bottom: var(--s-size);
  font-size: 1.3rem;
}
#sectionFeatures .card__desc {
  margin-bottom: var(--s-size);
  color: var(--base-color);
}
#sectionFeatures .card__tag {
  margin-bottom: var(--s-size);
  padding-left: 2rem;
  padding-right: 2rem;
  letter-spacing: 0.2rem;
}

/* SECTION ABOUT US */

#sectionAboutUs {
  padding: var(--l-size) 0;
}
#sectionAboutUs .container {
  display: flex;
}
#sectionAboutUs .col--2-3 .section__title {
  font-size: 4rem;
  font-weight: 600;
  color: var(--secondary-color);
  margin-bottom: var(--m-size);
}
#sectionAboutUs .col--2-3 .section__desc {
  margin-bottom: var(--m-size);
  line-height: 2rem;
}
#sectionAboutUs .col--1-3 .card {
  position: relative;
}
#sectionAboutUs .col--1-3 .card__icon {
  color: var(--secondary-color);
  font-size: 7rem;
  position: absolute;
  right: 0;
}
#sectionAboutUs .col--1-3 .--round-frame {
  margin-bottom: var(--s-size);
}
#sectionAboutUs .col--1-3 .card__title {
  margin-bottom: var(--s-size);
  font-size: 1.3rem;
  color: var(--secondary-color);
}
#sectionAboutUs .col--1-3 .card__tag {
  display: inline-block;
}

/* SECTION GET STARTED */

#sectionGetStarted {
  background-color: var(--secondary-color);
  padding: var(--l-size) 0;
}
#sectionGetStarted .container {
  display: flex;
  justify-content: center;
  text-align: center;
}
#sectionGetStarted .col--2-3 .section__name {
  font-weight: 300;
  color: white;
  margin-bottom: var(--m-size);
}
#sectionGetStarted .col--2-3 .section__title {
  font-size: 2.5rem;
  font-weight: 600;
  color: white;
  margin-bottom: var(--m-size);
}
#sectionGetStarted .col--2-3 .highlighted {
  color: #fdc15f;
  font-size: 4rem;
  margin-bottom: var(--m-size);
}
#sectionGetStarted .col--2-3 .section__desc {
  margin-bottom: var(--m-size);
}
#sectionGetStarted .col--2-3 .tag--bg-white {
  display: inline-block;
  margin-bottom: var(--m-size);
  padding: 1.5rem 6rem;
  border-radius: 68px;
  color: var(--secondary-color);
  font-weight: 600;
  letter-spacing: 0.1rem;
}
#sectionGetStarted .col--2-3 .caption {
  font-size: 0.8rem;
}

/* FOOTER */

#footer {
  background-color: #333333;
  padding: var(--l-size) 0;
  text-align: center;
}
#footer .container {
  display: flex;
  justify-content: center;
  text-align: center;
  color: white;
}
#footer .col--40 span {
  margin-bottom: var(--l-size);
}
