:root {
  --primary-color: #0084fd;
  --secondary-color: #9792e4;
  --base-color: #4c5d6b;
  --card-bg-color: #b5ddff;

  --base-size: 15px;
  --s-size: 20px;
  --m-size: 30px;
  --l-size: 50px;
  --xl-size: 70px;
  --xxl-size: 100px;
}

/* RESET */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/* debug */

* {
  font-size: 18px;
}
.debug,
.debug * {
  border: 1px dashed black;
}

/* UTILITIES */

.block {
  display: block;
}
.w-100 {
  width: 100%;
}
.container {
  max-width: 1040px;
  margin: 0 auto;
  padding: 0 var(--base-size);
}
.row {
  margin: 0 calc(-1 * var(--base-size));
}
[class^="col"] {
  padding: var(--base-size);
}
.col--1-3 {
  width: calc(100% / 3);
}
.col--2-3 {
  width: calc(100% / 3 * 2);
}
.col--20 {
  width: 20%;
}
.col--50 {
  width: 50%;
}
.col--80 {
  width: 80%;
}
.col--100 {
  width: 100%;
}
.card {
  padding: 0 var(--base-size);
}
.card--bg-white {
  background-color: #ffffff;
  padding: var(--m-size);
}
.tag--bg-white {
  text-decoration: none;
  background-color: white;
  border-radius: 20px;
  color: black;
  padding: 0.4rem 0.6rem;
}
.tag--bg-blue {
  text-decoration: none;
  background-color: var(--primary-color);
  border-radius: 20px;
  color: white;
  padding: 0.4rem 0.6rem;
}

/* HEADER */

#header {
  background-color: var(--primary-color);
  color: white;

  position: sticky;
  top: 0;
}

#header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: var(--base-size);
  padding-bottom: var(--base-size);
}
.header__nav__tagsList {
  list-style: none;
  display: flex;
  gap: var(--s-size);
}
.header__nav__tagsList li a {
  text-decoration: none;
  color: white;
}
.header__nav__tagsList li a.tag--bg-white {
  color: black;
}

/* SECTION DEMO */

#sectionDemo {
  padding: var(--l-size) 0;
}
#sectionDemo .container .row {
  display: flex;
}
#sectionDemo .card {
  height: 100%;
  border-radius: 16px;
  background-color: var(--card-bg-color);
  text-align: center;
}
#sectionDemo .card .row {
  display: flex;
  height: 100%;
}
#sectionDemo .card .col--50 {
  padding: 0 var(--base-size);
}
#sectionDemo .card__icon {
  font-size: 4rem;
  color: var(--primary-color);
  margin-top: var(--m-size);
}
#sectionDemo .card__title {
  color: var(--primary-color);
  font-size: 1.3rem;
  margin-top: var(--m-size);
}
#sectionDemo .card__desc {
  line-height: 1.3rem;
  color: var(--base-color);
  margin-top: var(--m-size);
  margin-bottom: var(--m-size);
}
#sectionDemo .card__tag {
  display: inline-block;
  /* margin-top: var(--m-size); */
  margin-bottom: var(--m-size);
  letter-spacing: 0.2rem;
}
#sectionDemo .card .col--50:nth-child(1) {
  text-align: left;
}
#sectionDemo .card .col--50:nth-child(2) {
  align-self: flex-end;
}
/* il problema non è legato alla disposizione flex della riga ma al fatto che la riga figlia di container mantiene un altezza maggiore in quanto il contenuto della card affianco si enstende ancora sotto*/
/* risolto dando il 100% della heigt alla riga nella card */

/* SECTION PLANNING */

#sectionPlanning {
  background-color: var(--secondary-color);
  padding: var(--l-size) 0;
}
#sectionPlanning .container .row {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
/* #sectionPlanning .card--bg-white {
  background-color: #ffffff;
  padding: var(--m-size);
} */

/* SECTION TESTIMONIALS */

#sectionTestimonials {
  padding: var(--l-size) 0;
}
#sectionTestimonials .container:nth-child(1) {
  text-align: center;
}
#sectionTestimonials .container:nth-child(2) {
  display: flex;
  flex-wrap: wrap;
}
/* #sectionTestimonials .container:nth-child(2) .row {
  width: 100%;
}         non necessario dato che la width di base prende tutto lo spazio a prescindere, altrimenti con questa regola prende lo spazio di 100% meno il padding del container  */
#sectionTestimonials .card {
  background-color: var(--secondary-color);
}
#sectionTestimonials .card .row {
  display: flex;
}

/* SECTION FEATURES */

#sectionFeatures {
  background-color: var(--secondary-color);
  padding: var(--l-size) 0;
}
#sectionFeatures > h2 {
  text-align: center;
}
#sectionFeatures .container .row {
  display: flex;
  flex-wrap: wrap;
}

/* SECTION ABOUT US */

#sectionAboutUs {
  padding: var(--l-size) 0;
}
#sectionAboutUs .container {
  display: flex;
}

/* SECTION GET STARTED */

#sectionGetStarted {
  background-color: var(--secondary-color);
}
#sectionGetStarted .container {
  text-align: center;
}

/* FOOTER */

#footer {
  background-color: #333333;
  padding: var(--l-size) 0;
  text-align: center;
}
#footer span {
  display: block;
}
